# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env.local
.env.production.local
.env.development.local

# vercel
.vercel/

# logs
npm-debug.log*

# typescript
*.tsbuildinfo

# system
.DS_Store
Thumbs.db